<div class="transaction-list">
  <!-- Filters -->
  <div class="filters-container">
    <form [formGroup]="filterForm" class="filters-form">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'transactions.filters.from_date' | translate }}</mat-label>
        <input matInput [matDatepicker]="fromPicker" formControlName="fromDate" />
        <mat-datepicker-toggle matIconSuffix [for]="fromPicker"></mat-datepicker-toggle>
        <mat-datepicker #fromPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'transactions.filters.to_date' | translate }}</mat-label>
        <input matInput [matDatepicker]="toPicker" formControlName="toDate" />
        <mat-datepicker-toggle matIconSuffix [for]="toPicker"></mat-datepicker-toggle>
        <mat-datepicker #toPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'transactions.filters.type' | translate }}</mat-label>
        <mat-select formControlName="type">
          <mat-option value="all">{{ 'transactions.filters.all_types' | translate }}</mat-option>
          <mat-option [value]="TransactionType.Deposit">{{
            'transactions.type.deposit' | translate
          }}</mat-option>
          <mat-option [value]="TransactionType.Withdrawal">{{
            'transactions.type.withdrawal' | translate
          }}</mat-option>
          <mat-option [value]="TransactionType.Transfer">{{
            'transactions.type.transfer' | translate
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-stroked-button type="button" (click)="clearFilters()">
        <mat-icon>clear</mat-icon>
        {{ 'transactions.filters.clear' | translate }}
      </button>
    </form>
  </div>

  <!-- Loading state -->
  @if (isLoading()) {
    <div class="loading-container">
      <mat-spinner></mat-spinner>
    </div>
  }

  <!-- Error state -->
  @if (error() && !isLoading()) {
    <div class="error-container">
      <mat-icon>error</mat-icon>
      <p>{{ error() | translate }}</p>
      <button mat-raised-button color="primary" (click)="loadTransactions()">
        {{ 'common.retry' | translate }}
      </button>
    </div>
  }

  <!-- Transactions table -->
  @if (!isLoading() && !error()) {
    <div class="table-container">
      <table mat-table [dataSource]="filteredTransactions()">
        <!-- Date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>{{ 'transactions.table.date' | translate }}</th>
          <td mat-cell *matCellDef="let transaction">
            {{ transaction.date | date: 'short' }}
          </td>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>{{ 'transactions.table.type' | translate }}</th>
          <td mat-cell *matCellDef="let transaction">
            <mat-chip [color]="getTypeColor(transaction.type)" highlighted>
              {{ getTypeLabel(transaction.type) | translate }}
            </mat-chip>
          </td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'transactions.table.description' | translate }}
          </th>
          <td mat-cell *matCellDef="let transaction">
            {{ transaction.description }}
          </td>
        </ng-container>

        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>{{ 'transactions.table.amount' | translate }}</th>
          <td
            mat-cell
            *matCellDef="let transaction"
            [class.positive-amount]="transaction.amount > 0"
            [class.negative-amount]="transaction.amount < 0"
          >
            {{ transaction.amount | number: '1.2-2' }} {{ transaction.currency }}
          </td>
        </ng-container>

        <!-- Counter Transaction Column -->
        <ng-container matColumnDef="counterTransaction">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'transactions.table.linked' | translate }}
          </th>
          <td mat-cell *matCellDef="let transaction">
            @if (transaction.counterTransactionId) {
              <mat-icon
                class="linked-icon"
                [matTooltip]="'transactions.tooltip.has_counter_transaction' | translate"
              >
                link
              </mat-icon>
            }
          </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>{{ 'common.actions' | translate }}</th>
          <td mat-cell *matCellDef="let transaction">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="viewTransaction(transaction)">
                <mat-icon>visibility</mat-icon>
                <span>{{ 'common.view' | translate }}</span>
              </button>
              <button mat-menu-item (click)="deleteTransaction(transaction)">
                <mat-icon>delete</mat-icon>
                <span>{{ 'common.delete' | translate }}</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- No data row -->
        @if (filteredTransactions().length === 0) {
          <tr class="mat-row no-data-row">
            <td class="mat-cell" [attr.colspan]="displayedColumns.length">
              {{ 'transactions.no_transactions' | translate }}
            </td>
          </tr>
        }
      </table>
    </div>
  }
</div>
